body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
   
}

.background-circle, .background-circle1 {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.background-circle {
    top: 20%;
    left: 90%;
    width: 100vw;
    height: 100vh;
    background-color: lightskyblue;
}

.background-circle1 {
    top: 100%;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: steelblue;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 2%;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 5%;
}

    .logo img {
        height: 10vh;
        margin-right: 2rem;
    }

.image1 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 5%;
}

    .image1 img {
        height: 60vh;
        margin-right: 2rem;
        border-radius: 0 60px 60px 60px;
    }

.image-text {
    position: absolute;
    bottom: 20%;
    right: 0%;
    left: 73%;
    background-color: lightskyblue;
    border: 0.25rem solid white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 5%;
}




.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

    .navbar nav ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 1.25rem;
    }


.welcome-section {
    text-align: center;
    margin-bottom: 10vh;
}

    .welcome-section h2 {
        margin: 0;
        font-size: 1rem;
    }

    .welcome-section h1 {
        margin: 1rem 0;
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
    }

.right-side-content {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 20%;
    text-align: center;
}

.right-side-image {
    max-width: 100%;
    height: auto;
    border-radius: 0 60px 60px 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.right-side-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: lightskyblue;
    border: 0.25rem solid white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}

.footer {
    position: absolute;
    bottom:0;
    left: 5%;
    font-size: 1rem;
    z-index: 100;
}





